{% extends 'partials/base.html.twig' %}
{% block content %}
  <article class="post-2 page type-page status-publish hentry {% if page.header.image %}has-post-thumbnail{% endif %}">
    {% if page.header.image %}
    <div class="post-thumbnail">
            {{ page.media[page.header.image].html(page.title, page.title, 'attachment-post-thumbnail wp-post-image') }}
    </div>
    {% endif %}
    <div class="entry-content">
     {{ page.content }}
   </div>
 </article>
{% endblock %}
